.entries {
  .entry {
    & + .entry {
      border-top: 1px solid #f6f6f6;
    }

    a {
      color: inherit;
    }

    padding: 30px;
    display: flex;

    .entry-body {
      flex-grow: 1;
    }

    .entry-header {
      font-weight: 500;
      font-size: 1.07em;
      color: #4f4f4f;
      margin-bottom: 10px;
      display: flex;

      & + .entry-footer {
        margin-top: 15px;
      }
    }

    .entry-content {
      font-size: 0.92em;
      color: #727272;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }

    .entry-footer {
      display: flex;
      align-items: center;
      margin-top: 10px;

      small {
        color: #b7b7b7;
        font-size: 0.85em;
      }
    }

    .entry-score {
      margin-left: 40px;
      display: flex;
      flex-direction: column;
    }
  }
}
