:root {
  --text-color: #575757;
  --color-primary: #7e37ff;
  --color-seperator: #eeeeee;
  --color-border: #e6e6e6;
}

.relative {
  position: relative;
}

.flex {
  display: flex !important;
}

.flex-col {
  @extend .flex;
  flex-direction: column;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.flex-no-grow {
  flex-grow: 0;
}

.flex-grow {
  flex-grow: 1;
}

.entry-status {
  font-size: 0.7rem;
  line-height: 1rem;
  padding: 0 0.3rem;
  font-weight: 500;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #6a6a6a;
  color: white;

  &.entry-status-light {
    background-color: #a8a8a8;
  }

  & + .entry-status {
    margin-left: 0.3rem;
  }
}

span.entry-upvotes {
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  cursor: pointer;

  &.voted {
    border-color: #5720ec;
    color: #5720ec;
  }

  svg {
    margin-right: 5px;
  }
}

aside.pagination-footer {
  padding: 15px 30px;
  display: flex;
  color: #adadad;
  font-weight: 400;
  align-items: center;
  border-top: 1px solid #eeeeee;
  font-size: 0.8rem;

  div.actions {
    margin-left: auto;
    display: flex;

    button {
      padding: 5px 15px;
    }

    button + button {
      margin-left: 10px;
    }
  }
}

ul.property-list {
  display: grid;
  grid-template-columns:
    auto
    minmax(30px, 1fr);
  column-gap: 10px;
  row-gap: 15px;

  li {
    display: contents;

    label,
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
    }

    label {
      color: #929292;
      font-weight: 300;
    }

    span {
      text-align: right;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.place-center {
  place-items: center !important;
}

.align-items-end {
  align-items: flex-end;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-default {
  color: var(--text-color) !important;
}

.text-danger {
  color: #dc3545 !important;
}

.text-primary {
  color: #007bff !important;
}

.text-success {
  color: #28a745 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-secondary {
  color: #6c757d !important;
}

.text-muted {
  color: #6c757d !important;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.6);

  &::after,
  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    opacity: 0;
    animation: sk-bounce 2s infinite ease-in-out;
    border-radius: 50%;
    background-color: var(--color-primary);
    opacity: 0.6;
  }

  &::before {
    animation-delay: -1s;
  }

  &.absolute {
    position: absolute;
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
