@using Microsoft.Extensions.Configuration
@using VoteKit.Web.Controllers
@model VoteKit.Web.Controllers.FeedController.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
  Layout = null;
}

<!DOCTYPE html>
<html>

  <head>
    <title>@Model!.Project.Name</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap">
    <link rel="stylesheet" href="~/client/feed.css" asp-append-version="true">
  </head>

  <body class=@(Model.Mode == FeedController.FeedMode.Widget ? "mode-widget" : "")>
    @Html.Hidden("votekit-feed-config", Json.Serialize(new
    {
      Model!.Project.Id,
      Model!.Project.Name,
      Mode = Model!.Mode.ToString().ToLowerInvariant()
    }))

    <div id="app"></div>
    <script src="~/client/feed.js" asp-append-version="true"></script>
  </body>

</html>
