@{
  Layout = null;
}

<!DOCTYPE html>
<html>
  <head>
    <title>VoteKit Dashboard</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap">
    <link rel="stylesheet" href="~/client/dashboard.css">
  </head>

  <body>
    <div id="app"></div>
    <script src="~/client/dashboard.js"></script>
  </body>
</html>
