header.main-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  background: #ffffff;
  padding: 18px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08);

  .brand img {
    height: 34px;
    width: 34px;
  }
  
  .navigation a {
    padding: 7px 15px;
    margin: 0 5px;
    color: #505050;
    font-weight: 500;
    
    &.active {
      background-color: #F9F6FF;
      color: #7B3FE9;
      border-radius: 6px;
    }
  }
  
  .avatar img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
  }
}
