$color-primary: #7e37ff;
$color-seperator: #eeeeee;
$color-border: #e6e6e6;

@mixin panel($padding: 0px, $shadow: true) {
  background: #ffffff;
  border-radius: 6px;
  padding: $padding ($padding * 0.75);

  --padding: #{$padding};

  @if $shadow {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
  }

  .panel-flush {
    margin: (-1 * $padding) (-0.75 * $padding);
  }

  .panel-title,
  .panel-header {
    margin: (-1 * $padding) (-0.75 * $padding);
    padding: ($padding * 0.5) ($padding * 0.75);
    margin-bottom: $padding;
    border-bottom: 1px solid $color-seperator;

    .panel-btn {
      padding: 4px 15px;
      margin: -4.5px 0;
    }
  }

  .panel-title {
    font-weight: 600;
    font-size: 1.3em;

    .panel-btn {
      font-size: 0.75em;
    }
  }
  
  hr {
    border: 0;
    border-bottom: 1px solid #e4e4e4;
    margin: $padding ($padding * -0.75);
  }
}
