body.mode-widget {
  padding: 0;

  header.main {
    .container {
      border-left-width: 30px;
      border-right-width: 30px;
    }
  }

  section.main {
    .container {
      border: 0;

      .panel {
        border-radius: 0;
      }

      &.container-wide {
        border-right: 30px solid transparent;
        border-left: 30px solid transparent;
        border-bottom: 30px solid transparent;
      }
    }
  }
}
