.modal-login {
  display: grid;
  justify-items: center;
  align-items: center;
  overflow: hidden;

  .panel-body {
    display: flex;
    flex-direction: column;
    place-items: center;

    p {
      color: #A5A5A5;
      margin: 10px 0;
      text-align: center;
    }
  }

  .login-info, .login-email, .login-password {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
    background: white;
  }

  .login-info {
    z-index: 1;

    header {
      font-size: 1.30em;
      color: #575757;
      font-weight: 500;
    }

    ul {
      margin: 30px 0;

      li {
        display: flex;
        place-items: center;
        margin-bottom: 10px;

        svg {
          height: 1rem;
          margin-right: 8px;
        }
      }
    }

    aside.options {
      margin: 0 0 30px 0;
      background: #F9F9F9;
      border-radius: 6px;
      padding: 20px 50px;
      width: 100%;

      div.option {
        width: 100%;
        padding: 13px 0;
        background: #FFFFFF;
        border: 2px solid #D4D4D4;
        border-radius: 3px;
        display: flex;
        place-items: center;
        justify-content: center;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
        color: black;
        font-weight: 500;
        cursor: pointer;

        svg {
          height: 1rem;
          margin-right: 8px;
        }
      }
    }
  }
}
